{% extends "portfolio/base.html" %}
{% block content %}
<h2>Tecnologias</h2>
<section>
    {% for tec in tecnologias %}
    <article>
        <header>
            <h3>{{ tec.nome }}</h3>
            <p>Nível de preferência: {{ tec.nivel_preferencia }}</p>
        </header>
        <section>
            <p>{{ tec.descricao }}</p>
            {% if tec.website_oficial %}
                <a href="{{ tec.website_oficial }}" target="_blank">Website oficial</a>
            {% endif %}
        </section>
    </article>
    {% endfor %}
</section>
{% endblock %}